/*

Theme Name: Apify theme
Author: Azharul Islam
Author URI: http://azharulislamnipu.web.com
Description: this is web appication, its make you amazing and nice represenation,  This portfolio web theme.. you can use this for your own portfolio, its a amazing web theme
version:v.1

Tags: portfolio, one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-readys

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.search_post{
    border: 2px solid red;
    border-radius: 3px;
    padding-left: 50px;
    margin-bottom: 20px;
  
}
