/*

Theme Name: Office Master
Author: Azharul Islam
Author URI: http://azharulislamnipu.webs.com
Description: This portfolio web theme.. you can use this for your own portfolio, its a amazing web theme
version:v.1.1

Tags: office,portfolio, business, demo, one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-readys

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.navbar-default .navbar-nav > .current-menu-item > a, .navbar-default .navbar-nav > .current-menu-item > a:hover, .navbar-default .navbar-nav > .current-menu-item > a:focus {
    color: #fff;
    background-color: #6BAAA8;
}

.current-menu-item{
  background:#74B9B9 !important;
  color: white;
}

.services-group{
    margin-top: 30px;
}
.services-row{
    margin-top: -30px;
}

.label a{
    color: #FFFFFF;
}

.label{
    margin: 0px 2px;
}

.screen-reader-text{
    display: none;
}

.nav-links{
   border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    
}
.nav-links .page-numbers{
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    display: block;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 40px;
}
.nav-links .page-numbers:first-child{
    
    border-left: 0 none;
}

.page-numbers.current, .page-numbers.current:hover{
    background: #428bca none repeat scroll 0 0;
    color: #fff;
}

.page-numbers:hover{
    background: #eee none repeat scroll 0 0;
    
}

.blog-title a{
    color: #385A30;
}

.page_area{
    padding: 50px 0px;
    
}

h2.page_title{
    text-align: center;
    color:#385A30;
    font-family: "Lato";
    font-variant: small-caps;
    font-size: 35px;
    

}

.page_content{
    padding: 20px 30px;
    background-color:bisque;
    border-radius: 5px;
    
    
}

.form-control.text-height{
    height: 100px;
}


img{
    
    max-width: 100%;
 
}